<?xml version='1.0' encoding='utf-8'?>
<widget id="com.perice.ai" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Perice AI</name>
    <description>تطبيق الذكاء الاصطناعي</description>
    <author email="support@perice.ai" href="https://github.com/mohamedsaber899p-mohamed">Mohamed Saber</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="icon.png" />
    </platform>
</widget>
